jupyter
jupyterlab
ipywidgets
matplotlib
numpy
pandas
pip
requests
accelerate
autopep8
bertviz
bitsandbytes
beautifulsoup4
bert-score
chromadb
datasets
diffusers
evaluate
huggingface_hub
instructor
joblib
langchain[all]
langchain-openai
langchain-community
langchain-chroma
langchain-nomic
langchain-mistralai
langchain-ollama
langchainhub
langchain_experimental
lxml
numexpr
ollama
onnxruntime
openai
peft
pydantic
pypdf
pytest
python-dotenv
safetensors
scikit-learn
seaborn
sentence-transformers
setuptools
tensorboard
torch
torchaudio
torchtext
torchvision
tqdm
transformers
transformers[torch]
wheel
wikipedia
wordcloud
tiktoken
youtube-transcript-api
pytube
umap-learn
ragatouille
langgraph 
tavily-python
nomic[local]
symspellpy
