jupyter
jupyterlab
matplotlib
numpy
pandas
pip
requests
accelerate
autopep8
beautifulsoup4
bert-score
chromadb
datasets
diffusers
evaluate
huggingface_hub
instructor
joblib
langchain[all]
langchain-openai
langchain-community
langchain-chroma
langchain-nomic
langchain-mistralai
langchain-ollama
langchainhub
langchain_experimental
lxml
numexpr
ollama
openai
pydantic
pypdf
pytest
python-dotenv
safetensors
scikit-learn
sentence-transformers
setuptools
torch
torchaudio
torchtext
torchvision
transformers
transformers[torch]
wheel
wikipedia
tiktoken
youtube-transcript-api
pytube
umap-learn
ragatouille
langgraph 
tavily-python
nomic[local]